version: '3.9'

services:
  db:
    image: postgres:16-alpine
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: inventario
    volumes:
      - ./db/schema.sql:/docker-entrypoint-initdb.d/01-schema.sql:ro
    ports:
      - '5434:5432'

  app:
    build: .
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload
    environment:
      - PROJECT_NAME=Inventario FastAPI MVP
      - API_V1_STR=/api/v1
      - DATABASE_URL=postgresql+psycopg2://postgres:postgres@db:5432/inventario
    volumes:
      - ./:/app
    ports:
      - '8000:8000'
    depends_on:
      - db
